<header class="container" id="header">
    <div class="row">
        <div class="col-md-3 col-xs-12" id="logo-container">
            <a href="/">
                <picture>
                    <source srcset="./imgs/crow_logo_black-sm.png" media="(min-width: 992px)">
                    <source srcset="./imgs/crow_logo_black-xs.png" media="(max-width: 991px)">
                    <img src="./imgs/crow_logo_black-xs.png"
                         alt="Logo of a crow that says: Armaaar Creations"
                         title="Logo of a crow that says: Armaaar Creations">
                </picture>
            </a>
        </div>
        <nav class="col-md-9 col-xs-12" id="menu">
            <ul class="menu-list">
                <li class="menu-item text-capitalize">
                    <a href="{{ url_for("index")}}">Home</a>
                </li>
                {% if universal.functions.is_loggedin() %}
                    <li class="menu-item text-capitalize">
                        <a href="javascript:void(0)">new item</a>
                    </li>
                    <li class="menu-item text-capitalize">
                        <a href="javascript:void(0)">logout</a>
                    </li>
                {% else: %}
                    <li class="menu-item text-capitalize">
                        <a href="javascript:void(0)" id="loginButton">login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
