@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: "Raleway", sans-serif;
  color: #444;
  font-size: 18px;
  background-color: #eee; }

img {
  max-width: 100%; }

a {
  color: #89F; }

.cta-container {
  margin-top: 10px;
  margin-bottom: 5px; }

.form-group.has-feedback .form-control-feedback {
  top: 30px;
  display: none; }

.form-group.has-feedback.has-success .form-control-feedback.glyphicon.glyphicon-ok {
  display: block; }

.form-group.has-feedback.has-error .form-control-feedback.glyphicon.glyphicon-remove {
  display: block; }

.form-group-message,
.form-message {
  color: #a94442; }

#header {
  min-height: 75px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; }
  #header #logo-container,
  #header #menu {
    text-align: center;
    padding-top: 10px; }
  @media (min-width: 992px) {
    #header #menu {
      min-height: 75px;
      text-align: right; } }
  #header #menu ul.menu-list {
    list-style: none;
    padding: 0; }
    @media (min-width: 992px) {
      #header #menu ul.menu-list {
        -webkit-transform: translateY(27%);
                transform: translateY(27%); } }
    #header #menu ul.menu-list li.menu-item {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px; }
      #header #menu ul.menu-list li.menu-item a {
        color: #444;
        text-decoration: none; }
      #header #menu ul.menu-list li.menu-item a:hover {
        color: #000; }
  @media (min-width: 992px) {
    #header #logo-container {
      text-align: left; } }
  #header #logo-container img {
    max-width: 100%; }
    @media (min-width: 992px) {
      #header #logo-container img {
        max-height: 63px; } }
