{% extends "./head/head.jinja" %}

{% block content %}

<div class="container">
    <div class="col-md-4 col-xs-12">
        <h3>Categories</h3>
        <ul class="side-bar">
            {% for c in categories %}
                <li id="{{c.id}}">
                    <a href="{{url_for("category", category_id=c.id)}}">{{c.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 col-xs-12">
        <h3>
            {{category.name}} Items
            {% if items_count == 1 %}
                (1 item)
            {% else %}
                ({{items_count}} items)
            {% endif %}
        </h3>
        <ul class="side-bar">
            {% for item in items %}
                <li id="{{item.id}}">
                    <a href="javascritp:void(0)">
                        {{item.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
