{% extends "./head/head.jinja" %}

{% block content %}

<div class="container">
    <div class="col-md-4 col-xs-12">
        <h3>Other {{item.category.name}} Items</h3>
        <ul class="side-bar">
            {% for i in items %}
                <li id="{{i.id}}">
                    <a href="{{url_for("item", item_id=i.id)}}">{{i.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 col-xs-12">
        <h3>
            {{item.name}}
        </h3>
        <p>
            Are you sure you want to delete this item?
        </p>
        <form class="delete_item" action="{{url_for("delete_item", item_id=item.id)}}" method="POST">
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
        </form>

    </div>
</div>
{% endblock content %}
