{% extends "./head/head.jinja" %}

{% block content %}

<div class="container">
    <div class="col-xs-12">
        {{ universal.functions.render_form(form, "edit_item", item_id=item_id) }}
    </div>
</div>
{% endblock content %}
