{% extends "./head/head.jinja" %}

{% block content %}

<div class="container">
    <div class="col-xs-12">
        {{ universal.functions.render_form(form, "index") }}
    </div>
</div>
{% endblock content %}
